<section *ngIf="step1" class="w-75 mx-auto rounded bg-light p-5 mt-5">
    <form [formGroup]="forgetForm" (ngSubmit)="forgetPassword()">
        <div class="form-item">
            <label for="email" class="mb-2 fs-5 fw-bolder ">E-mail</label>
            <input formControlName="email" type="email" id="email" class="form-control">
        </div>
        <button class="btn btn-outline-success mt-3 px-4">Verify</button>

        <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0 text-center mt-3">{{userMsg}}</p>
    </form>
</section>


<section *ngIf="step2" class="w-75 mx-auto rounded bg-light p-5 mt-5">
    <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
        <div class="form-item">
            <label for="resetCode" class="mb-2 fs-5 fw-bolder  ">Reset Code</label>
            <input formControlName="resetCode" type="resetCode" id="resetCode" class="form-control">
        </div>
        <button class="btn btn-outline-success mt-3 px-4">Verify</button>

        <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0 text-center mt-3">{{userMsg}}</p>
    </form>
</section>


<section *ngIf="step3" class="w-75 mx-auto rounded bg-light p-5 mt-5">
    <form [formGroup]="resetPassword" (ngSubmit)="newPassword()">
        <div class="form-item">
            <label for="resetpassword" class="mb-2 fs-5 fw-bolder  ">Reset Password</label>
            <input  formControlName="newPassword" type="password" id="resetpassword" class="form-control">
        </div>
        <button class="btn btn-outline-success mt-3 px-4">Verify</button>

        <p *ngIf="userMsg" class="alert alert-danger w-75 mx-auto p-1 mb-0 text-center mt-3">{{userMsg}}</p>
    </form>
</section>
