<section class="w-75 p-4 my-3 mx-auto">
  <h1 class="my-3">Login Now</h1>
  <form [formGroup]="loginForm" (ngSubmit)="handleForm()">
    
    <div class="form-item my-3">
      <label for="email">Email</label>
      <input
        formControlName="email"
        type="email"
        class="form-control"
        id="email"
      />

      <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert alert-danger my-2 border-2 p-2 small text-danger">
        <p *ngIf="loginForm.get('email')?.getError('required')" class="p-0 my-2">Email is Required</p>
        <p *ngIf="loginForm.get('email')?.getError('email')" class="p-0 my-2">Invalid email</p>
      </div>
    </div>

    <div class="form-item my-3">
      <label for="password">Password</label>
      <input
        formControlName="password"
        type="password"
        class="form-control"
        id="password"
      />
      <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="alert alert-danger my-2 border-2 p-2 small text-danger">
        <p *ngIf="loginForm.get('password')?.getError('required')" class="p-0 my-2">Password is Required</p>
        <p *ngIf="loginForm.get('password')?.getError('pattern')" class="p-0 my-2">password must be at least 6 chars</p>
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-between px-2">
      <button routerLink="/forgetpassword" class="btn p-0 fw-bold">Forget Password?</button>

      <button [disabled]="loginForm.invalid" class="main-btn mt-3 px-4">Login
        <span *ngIf="isLoading"> <i class="fas fa-spin fa-spinner"></i></span>
      </button>
    </div>
  </form>

  <p *ngIf="errMsg" class="alert alert-danger p-1 mt-4">{{errMsg}}</p>
</section>
